* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp5727862.jpg');
    background-image: cover;
    background-repeat: no-repeat;
    background-position: top center
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: brightness(70%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


header input:focus {
    background-color: rgba(255, 255, 255, 1);
}

main {
    padding: 10px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location {
    color: #FFF;
}

.location .city {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    font-size: 12px;
}

.current {
    color: #fff;
}

.current .temperature {
    font-size: 90px;
    font-weight: 500;
    margin: 30px 0;
    text-shadow: 4px 10px rgba(0, 0, 0, 0.5);
}

.current .temperature span {
    font-weight: 500;
}

.current .weather {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 400px){
    body {
        background-size: 1000px 900px;
        background-position: top left;
    }
    .current .temperature {
        font-size: 60px;

    }
}